{% extends "base.html" %}

{% load i18n static bootstrap3 widget_tweaks %}

{% block style %}
    <style>
        @media (min-width:768px) {
            .login-box {width:420px}
        }
        .register-page{
            background-color: #c6d2ea;
        }
    </style>
{% endblock style %}

{% block skin_class %}skin-purple{% endblock skin_class %}

{% block extra_body_class %}register-page{% endblock extra_body_class %}

{% block pre_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'home' %}"><b>QAPP</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign In</p>
            <form action="{% url 'users:register' %}" method="post">
                 {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% bootstrap_form_errors form type='all' %}
                <div class="form-group has-feedback">
                    {% render_field form.username class+="form-control" placeholder="Username" required="required" %}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {% render_field form.first_name class+="form-control" placeholder="First Name" required="required" %}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {% render_field form.last_name class+="form-control" placeholder="Last Name" required="required" %}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.email }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {% render_field form.password1 class+="form-control" placeholder="Password" required="required" %}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                 <div class="form-group has-feedback">
                    {% render_field form.password2 class+="form-control" placeholder="Confirm Password" required="required" %}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-offset-7 col-xs-5">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div> <!-- /.col -->
                </div>
            </form>

            <a href="{% url 'users:login' %}">Login</a>
        </div> <!-- /.login-box-body -->
    </div> <!-- /.login-box -->
{% endblock pre_wrapper %}